.gpfv-info{
	.genres, .finance{
		width: 47%
	}
	.finance{
		float: left;
		//background-color: red;
		text-align: right;
	}
	.genres{
		float: right;
		//background-color: green;
	}

}

h3.grants{
	color: #dfdfdf;
}
h3.applications{
	color: #a3a3a3;
}