section.s0{}

.spot {
	background-position: 50% 0;
	background-repeat: no-repeat;
	width: 100%;
	background-size: 100%;
	background-image: url(/img/intro/jh_suit.jpg);
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.8);
    &.year-start{
    	height: 800px;
    }
	&.year-1968{
		height: 500px;
		background-image: url(/img/intro/1968.jpg);
		.blurb{
			padding-top: 50px;
		}
	}
	&.year-1972{
		background-image: url(/img/intro/editing.jpg);
		height: 600px;
	}
	&.year-1976{
		background-image: url(/img/intro/early-reading.jpg);
		height: 600px;
		background-size: cover;
	}
	&.year-1981{
		height: 1000px;
		background-image: url(/img/intro/1981.jpg);
		background-color: #fff;
	}

	&.year-1994{
		background-image: url(/img/intro/Vijay-Iyer.jpg);
		height: 500px;
	}

	&.year-2013{
		background-image: url(/img/intro/reels.jpg);
		height: 1000px;
	}
}


.blurb{
	width: 50%;
	//max-width: 500px;
	left: 25%;
	right: 25%;
	margin: 0 auto;
	transition: opacity 750ms;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	top: 200px;

	h2{
		color: lighten(@red,10%);
		text-align: center;
		max-width: 400px;
		margin: 0 auto;
		font-size: 2em;
		text-shadow: 0 0px 15px rgba(0, 0, 0, 0.8);
		

	}
	p{
		text-shadow: 0 0px 15px rgba(0, 0, 0, 0.8);
	}

	&.shown{

		//display: block;
		opacity: 1;

	}
	&.idx-2{
		margin-top: 25%;
	}
}

.step-0 #next{
	text-shadow: 0 0px 15px rgba(0, 0, 0, 0.8);
}