section.s0{}


.blurb{
	width: 50%;
	left: 25%;
	right: 25%;
	margin: 0 auto;
	transition: opacity 750ms;
	opacity: 0;
	//	overflow: hidden;
	position: fixed;
	top: 200px;
	h2{
		color: lighten(@red,10%);
		text-align: center;
		max-width: 400px;
		margin: 0 auto;
		font-size: 2em;
		text-shadow: 0 0px 15px rgba(0, 0, 0, 0.8);
		

	}
	p{
		text-shadow: 0 0px 8px rgba(0, 0, 0, 0.8);
	}

	&.shown{

		//display: block;
		opacity: 1;

	}
	&.idx-2{
		margin-top: 20%;
	}
}

#next span{ display: none;}
.step-0{
		#next{
		text-shadow: 0 0px 15px rgba(0, 0, 0, 0.8);
		span{
			display: inline;
			font-weight: 100;
			font-size: .6em;
			vertical-align: 9px; 
			margin-right: .3em;
			//background: -webkit-linear-gradient(#fff, #afafaf);
			background: transparent;
			background: -webkit-gradient(linear,left top,right top,
		        color-stop(0, #afafaf),
		        color-stop(0.4, #afafaf),
		        color-stop(0.5, white),
		        color-stop(0.6, #afafaf),
		        color-stop(1, #afafaf)); 
			-webkit-background-clip: text;
	      	-webkit-text-fill-color: transparent;
	  		-webkit-animation: explore 10s linear;
	  		-webkit-animation-iteration-count: infinite;
	  		background-position: -100px 0;
		}
	}
}


@-webkit-keyframes explore {
  0% {
    background-position: -100px 0;
  }
  100%{
    background-position: 100px 0;
  }
}
