// Make sure the charset is set appropriately
@charset "UTF-8";

//import font from google
 @import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

// Bring in normalize css from vendor package
@import "../vendor/preboot/less/normalize"; 

@import 'icon-font';

@red: #970202;

// make sure we're using border-box everywhere, which normalize doesn't seem to include
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html,body{
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, arial, sans-serif;
}
h1,h2,h3,h4,h5{ font-weight: 400;}

h2,h3,h4,h5{
    margin: .15em 0 .4em;
}
h3{
    font-weight: 100;
}


a{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid @red;
}

body {
  margin: 0;
  padding: 0;
  min-width: 768px;
  background-color: #666;
}

@import 'sections';
@import 'intro';
@import 'area-graphs';

section .textDisplay{
    position: fixed;
    width: 50%;
    //height: 50%;
    margin: 20% 0 0 25%;
    //overflow: auto;
    //background-color: rgba(255,0,0,0.2);
    .intro{
        h2, h3{
            text-align: center;
        }
    }
}
section.s1 .textDisplay{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

section h1{
    text-align: center;
    color: white;
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 20;
}


#logo, #logo2{
    position: fixed;
    top: 50px;
    width: 200px;
    height: 50px;
    z-index: 10;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;

}
#logo{ 
    left: 50px;
    background-image: url(/img/jerome_logo.svg);

}
#logo2{ 
    right: 50px; 
    background-image: url(/img/50_logo.svg);
    background-position: center right;


}
#year{
    position:fixed;
    bottom: 50px;
    width: 120px;
    left: 45%;
    text-align: center;
    color: white;
    z-index: 10;
    font-size: 2em;
}
#prev, #next, #year-down, #year-up{
    display: block;
    // position: absolute;
    position: fixed;
    font-size: 50px;
    font-weight: bold;
    color: white;
    border-bottom: 0;
    text-decoration: none;
    &.inactive{
        display: none;
    }
}

#prev{ 
    top: 49%;
    left: 10px;
    &:before{
        .iconfont;
        content: "\e001";
    }
}
#next{ 
    top: 49%;
    right: 26px;
    &:after{
       .iconfont;
       content: "\e003";
    }
}

#year-down, #year-up{
    width: 120px;
    text-align: center;
    left: 45%;
    position: fixed;
    &:before{
        .iconfont;
    }
}
#year-down{
    bottom: 78px;
    &:before{
       content: "\e005";
    }
}

#year-up{
    bottom: -8px;
    &:before{
        content: "\e004";
    }
}

//turns the year up/down clickers on/off depending on what section we're in
#year-down, #year-up{
    display: none;
}

.step-3{
    #year-down, #year-up{
        display: block;
    }
}


/*
Tooltips
 */
.tooltip {
    position: fixed;
    // width: 250px;
    height: auto;
    padding: 10px;
    background: rgba(0,0,0, 0.5);
    //pointer-events: none;
    opacity: 1;
    transition: opacity 500ms ease-out;
    &:after{
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-right-color: rgba(0,0,0,0.5);
        border-width: 20px;
        margin-top: -20px;
    }
}

.tooltip.hidden {
    opacity: 0;
}
.infowindow{
    color: black;
}

.infowindow, .tooltip{
    h2,h3,h4,h5,h6{
        margin-bottom: 0;
        margin-top: .1em;
        font-family: 'Oswald', 'Helvetica Neue', Helvetica, arial, sans-serif;

    }
    h2{
        font-size: 1.2em;
    }
    h3,h4{
        font-size: 1em;
    }
}


/* ---------------------------
 * SVG rules
 * --------------------------- */
@import 'shapes';
