section{
  width: 100%;
  height: 725%;
  min-height: 725%;
  color: white;
  position: absolute;
  transition: .35s all ease;
}


.s1{ background-color: #a09f9d; }
.s2{ background-color: #888784; margin-left: 100%;}
.s3{ background-color: #706f6e; margin-left: 200%;}
.s4{ background-color: #646361; margin-left: 300%;}
.s5{ background-color: #817a6c; margin-left: 400%;}
.s6{ background-color: #6d6452; margin-left: 500%;}
.s7{ background-color: #8c887f; margin-left: 600%;}

.step-1 .s1{margin-left: -100%;}
.step-1 .s2{margin-left: 0;}
.step-1 .s3{margin-left: 100%;}
.step-1 .s4{margin-left: 200%;}
.step-1 .s5{margin-left: 300%;}
.step-1 .s6{margin-left: 400%;}
.step-1 .s7{margin-left: 500%;}

.step-2 .s1{margin-left: -200%;}
.step-2 .s2{margin-left: -100%;}
.step-2 .s3{margin-left: 0;}
.step-2 .s4{margin-left: 100%;}
.step-2 .s5{margin-left: 200%;}
.step-2 .s6{margin-left: 300%;}
.step-2 .s7{margin-left: 400%;}

.step-3 .s1{margin-left: -300%;}
.step-3 .s2{margin-left: -200%;}
.step-3 .s3{margin-left: -100%;}
.step-3 .s4{margin-left: 0;}
.step-3 .s5{margin-left: 100%;}
.step-3 .s6{margin-left: 200%;}
.step-3 .s7{margin-left: 300%;}

.step-4 .s1{margin-left: -400%;}
.step-4 .s2{margin-left: -300%;}
.step-4 .s3{margin-left: -200%;}
.step-4 .s4{margin-left: -100%;}
.step-4 .s5{margin-left: 0;}
.step-4 .s6{margin-left: 100%;}
.step-4 .s7{margin-left: 200%;}

.step-5 .s1{margin-left: -500%;}
.step-5 .s2{margin-left: -400%;}
.step-5 .s3{margin-left: -300%;}
.step-5 .s4{margin-left: -200%;}
.step-5 .s5{margin-left: -100%;}
.step-5 .s6{margin-left: 0;}
.step-5 .s7{margin-left: 100%;}

.step-6 .s1{margin-left: -600%;}
.step-6 .s2{margin-left: -500%;}
.step-6 .s3{margin-left: -400%;}
.step-6 .s4{margin-left: -300%;}
.step-6 .s5{margin-left: -200%;}
.step-6 .s6{margin-left: -100%;}
.step-6 .s7{margin-left: 0;}